:host {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;

    &.selected {
        background-color: var(--mat-sys-surface-container-low);
    }

    &:hover {
        cursor: pointer;
        background-color: var(--mat-sys-surface-bright);
    }

    &.parent {
        pointer-events: none;
    }

    &:not(.parent) {
        margin-left: 1rem;
    }
}

.header {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: auto max-content;

    .details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        address {
            max-width: 12rem;
            font-style: normal;
        }
    }

    .labels {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        gap: 1rem;
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 0;
        border-left: 1px solid var(--mat-sys-outline-variant);
    }

    &.showCheckbox {
        margin-left: 2.75rem;
    }
}
