# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
documentation

# System files
.DS_Store
Thumbs.db
.env

# Enviroments
/src/configurations/local
/src/environments/environment.local.ts
/src/environments/keys.environment.ts

# Nix
result

# SCI
powerstat-*.log

# Data
/src/assets/data/*
!/src/assets/data/wards.geojson

# kubernetees secrets
**/secrets.env

# QA artifacts
qa/node_modules/*
qa/test-results/
qa/test-results/assets
qa/@rerun.txt
qa/*.deb
