.date-filter {
    &__container {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 0.875rem;
            color: $color-primary;
            text-transform: uppercase;
        }

        .mat-mdc-form-field {
            max-width: 15rem;
        }
    }
}
