.data-download {
  &__modal {
    max-width: 50rem;
    padding: 5rem;
    h1 {
      color: $color-warn !important;
      line-height: var(--arc-line-height-dense) !important;
      display: flex;
      align-items: flex-start;
      gap: 1rem;
    }
    .mdc-dialog__title::before {
      display: none !important;
    }
  }
  &__list {
    margin: 3rem 0 !important;
  }
}
