.details-panel {
  padding: 1rem;
  padding-right: 0;
  min-width: 20rem;
  max-width: 22rem;
  max-height: 80vh;
  overflow-y: scroll;
  h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__overview {
    .address {
      width: 60%;
      line-height: var(--arc-line-height-dense);
    }
    .labels {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &__tab {
    p {
      margin: 0;
    }
    h2 {
      font-size: 1rem;
    }

    &--overview {
      .about {
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-line;
        p {
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: 1rem;
        }
      }
      .field {
        font-weight: 300;
      }
      .specification {
        p {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .mdc-tab {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    button {
      width: 50%;
      .mdc-button__label {
        display: flex !important;
        align-items: center !important;
        gap: 0.5rem;
        font-size: var(--arc-font-size-x-small);
      }
    }
  }
}
