.details-panel {
    position: absolute;
    z-index: $panel-z-index;
    top: 9rem;
    left: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 22rem;
    height: calc(100vh - 10rem);
    padding: 1rem;
    padding-right: 0;
    border-radius: 4px;

    background-color: rgb(var(--arc-container-color));
    box-shadow: $box-shadow;

    @include transition(left 0.5s ease);

    @include md {
        top: 4rem;
        left: calc($md-results-panel-width + 1.5rem);
        width: 16rem;
        height: calc(100vh - 4.75rem);
    }

    @include xs {
        height: calc(100vh - 9.25rem);
    }

    &--results-open {
        left: calc($panel-width + 2rem);

        @include transition(left 0.5s ease);

        @include md {
            left: calc($md-results-panel-width + 1.5rem);

            @include transition(left 0.5s ease);
        }
    }

    &--results-collapsed {
        left: calc($collapsed-panel-width + 2rem);

        @include transition(left 0.5s ease);

        @include md {
            left: calc($md-results-panel-width + 1.5rem);

            @include transition(left 0.5s ease);
        }
    }

    &__info-container {
        display: flex;
        flex-direction: column;
        height: calc(100% - 52px);
    }

    h1 {
        margin: 0;
        font-size: 1.5rem;
        line-height: var(--arc-line-height-dense);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;
    }

    &__overview {
        padding-right: 1rem;
        .address {
            width: 60%;
            line-height: var(--arc-line-height-dense);
        }
        .labels {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    &__tab-group {
        overflow: auto;
    }

    &__tab {
        overflow-y: auto;
        p {
            margin: 0;
        }
        h2 {
            font-size: 1rem;
        }

        .column-data {
            padding-bottom: 1rem;

            p {
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 1rem;
            }
        }

        .field {
            font-weight: 300;
        }

        .expired {
            display: flex;
            align-items: center;
            color: $color-warn;
        }

        &--overview {
            .specification {
                p {
                    display: flex;
                    flex-direction: column;
                }
            }

            .about {
                border-bottom: 1px solid $color-line;
            }
        }

        .no-flag {
            font-style: italic;
        }

        .historical-flag {
            display: flex;
            gap: 0.5rem;

            img {
                height: var(--arc-font-size-medium);
                margin-top: 0.25rem;
            }
        }
    }

    .mdc-tab {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    &__buttons {
        display: flex;
        gap: 0.5rem;

        height: 2.25rem;
        margin-top: 1rem;
        padding-right: 1rem;
        button {
            width: 50%;
            .mdc-button__label {
                display: flex !important;
                gap: 0.5rem;
                align-items: center !important;

                font-size: var(--arc-font-size-x-small);
                line-height: var(--arc-line-height-dense);
            }
        }
    }
}
