.filter-panel {
  width: 60rem;
}
.advanced-filters-dialog {
  h1 {
    height: 0;
  }
  .filter-expansion {
    .mat-expansion-panel:not([class*='mat-elevation-z']) {
      box-shadow: none;
      border-bottom: 1px solid $color-line;
    }
  }

  .filter-panel-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--arc-spacing-x-small);

    .invalid-filter-warning {
      color: $color-warn;
      display: flex;
      align-items: center;
      gap: var(--arc-spacing-x-small);
    }
  }

  .mdc-dialog__content {
    padding: 0 !important;
  }
}
