.filter-panel {
  width: 60rem;
}
.advanced-filters-dialog {
  h1 {
    height: 0;
  }
  .filter-expansion {
    .mat-expansion-panel:not([class*='mat-elevation-z']) {
      box-shadow: none;
      border-bottom: 1px solid $color-line;
    }
  }

  .mdc-dialog__content {
    padding: 0 !important;
  }
}
