.label {
  border-radius: 4px;
  padding-right: 1rem;
  margin: 0;
  line-height: var(--arc-line-height-dense);
  border: 1px solid;

  &__epc {
    display: grid;
    grid-template-columns: 1fr 2fr;

    p {
      margin: 0 0 0 1rem;
    }
    &--a {
      border-color: var(--c477-color--epc-a);
      div {
        background-color: var(--c477-color--epc-a);
      }
    }
    &--b {
      border-color: var(--c477-color--epc-b);
      div {
        background-color: var(--c477-color--epc-b);
      }
    }
    &--c {
      border-color: var(--c477-color--epc-c);
      div {
        background-color: var(--c477-color--epc-c);
      }
    }
    &--d {
      border-color: var(--c477-color--epc-d);
      div {
        background-color: var(--c477-color--epc-d);
      }
    }
    &--e {
      border-color: var(--c477-color--epc-e);
      div {
        background-color: var(--c477-color--epc-e);
      }
    }
    &--f {
      border-color: var(--c477-color--epc-f);
      div {
        background-color: var(--c477-color--epc-f);
      }
    }
    &--g {
      border-color: var(--c477-color--epc-g);
      div {
        background-color: var(--c477-color--epc-g);
      }
    }
  }

  &__type {
    border-color: $color-type;
    background-color: $color-type;
    color: $color-primary;
    padding-left: 1rem;
  }
}
