.label {
  border-radius: 4px;
  color: $color-light-text;
  padding: 0 1rem 0 1rem;

  &__epc {
    &--b {
      background-color: $color-epc-b;
    }
  }

  &__type {
    background-color: $color-type;
  }
}
