.legend {
    position: absolute;
    z-index: $panel-z-index;
    top: calc(55px + 1rem + (7 * 48px) + (4 * 10px));
    right: calc(1rem + 48px + 10px);

    float: right;

    width: 15.5rem;
    padding: 1.5rem;
    border-radius: 0.25rem;

    background-color: rgb(var(--arc-container-color));
    box-shadow: $box-shadow;

    @include md {
        top: auto;
        bottom: max(var(--arc-spacing-x-small), calc(100vh - (55px + 1rem + (7 * 48px) + (4 * 10px) + 341px)));
        width: 12rem;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: var(--arc-font-size-large);
    }

    &__items > * {
        margin-bottom: 0.5rem;
    }
}
