.legend {
  position: absolute;
  float: right;
  right: calc(1rem + 48px + 10px);
  top: calc(55px + 1rem + (7 * 48px) + (4 * 10px));
  z-index: $panel-z-index;
  background-color: rgb(var(--arc-container-color));
  border-radius: 0.25rem;
  padding: 1.5rem;
  box-shadow: $box-shadow;
  width: 15.5rem;

  @include md {
    top: auto;
    bottom: max(
      var(--arc-spacing-x-small),
      calc(100vh - (55px + 1rem + (7 * 48px) + (4 * 10px) + 341px))
    );
    width: 12rem;
  }

  h1 {
    font-size: var(--arc-font-size-large);
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__items > * {
    margin-bottom: 0.5rem;
  }
}
