.filters {
  position: absolute;
  z-index: $panel-z-index;
  left: var(--arc-spacing-normal);
  top: 4.5rem;
  display: flex;
  align-items: flex-start;

  .search {
    width: 26.5rem;
    margin-right: var(--arc-spacing-x-small);
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background: $color-input-background;
      box-shadow: $box-shadow;
    }
  }

  .main-filters {
    margin: 0 var(--arc-spacing-x-small) 0 var(--arc-spacing-x-small);
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: $box-shadow;

    span {
      font-size: 1rem;
      margin: 0 var(--arc-spacing-x-small) 0 var(--arc-spacing-small);
      color: rgba(0, 0, 0, 0.6);
    }
    mat-slide-toggle {
      margin: 0 var(--arc-spacing-small) 0 0;
    }

    mat-divider {
      height: 2rem !important;
      margin: var(--arc-spacing-x-small) 0 var(--arc-spacing-x-small) 0;
    }

    .epc-filter {
      margin: 0 var(--arc-spacing-x-small) 0 0;
      .mdc-text-field--filled {
        border-bottom-left-radius: 4px !important;
      }
    }

    .building-type-filter {
      margin: 0 0 0 var(--arc-spacing-x-small);
    }

    div[matformfieldlineripple] {
      display: none;
    }
    div.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
      display: none;
    }
  }

  .filters-button {
    margin-top: 0;
    margin-left: 0.5rem;
    height: 3.5rem;
    box-shadow: $box-shadow;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: $color-input-background;
  }
}
