.main-filters {
  position: absolute;
  z-index: $panel-z-index;
  left: var(--arc-spacing-normal);
  top: 4.5rem;
  display: flex;
  align-items: flex-start;

  .search {
    width: 26.5rem;
    margin-right: var(--arc-spacing-x-small);
  }

  .epc-filter {
    .mdc-text-field--filled {
      border-top-right-radius: 0 !important;
    }
  }

  .building-type-filter {
    .mdc-text-field--filled {
      border-top-left-radius: 0 !important;
    }
  }

  .filters-button {
    margin-top: 0;
    margin-left: 0.5rem;
    height: 3.5rem;
    box-shadow: $box-shadow;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: $color-input-background;
    box-shadow: $box-shadow;
  }

  .clear-all-button {
    $small-size-button: 24px;
    $small-size-icon: 18px;
    width: $small-size-button;
    height: $small-size-button;
    line-height: $small-size-button;

    .mat-icon {
      color: red;
      font-size: $small-size-icon;
      width: $small-size-icon;
      height: $small-size-icon;
      line-height: $small-size-icon;
    }
  }
}
