.popupContent {
  display: flex;
  flex-direction: column;
  width: 300px;
  h1 {
    font-size: 0.875rem;
    margin: 0.5rem 0rem;
  }
  p {
    font-size: 0.75rem;
    margin: 0rem 0rem 0.5rem 0rem;
  }
}

.histogramWrapper {
  display: flex;
  align-items: flex-end;
  height: 120px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(var(--arc-grey-090));
}

.histogramBar {
  flex: 1;
  margin-right: 1px;
  border-radius: 4px 4px 0px 0px;
}

.histogramItem {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}

.epcRating {
  align-self: center;
}

.labelRow {
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  span {
    flex: 1;
    text-align: center;
    font-size: 0.625rem;
  }
  span::first-letter {
    text-transform: capitalize;
  }
}

.mapboxgl-popup-close-button {
  font-size: 1.25rem;
}
