.multi-select-filter {
    h3 {
        font-size: 0.875rem;
        color: $color-primary;
        text-transform: uppercase;
    }
    .mat-button-toggle-group {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        border: none;

        .mat-button-toggle {
            border: 1px solid $color-line;
            border-radius: 0.25rem;
        }

        .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
            line-height: 2.5;
        }

        .mat-button-toggle-checked {
            color: rgb(var(--arc-white-000));
            background-color: $color-primary;
            box-shadow: 1px 4px 6px 0px rgba(81, 64, 108, 0.1);
        }

        .filter-button {
            &--invalid {
                color: rgba(0, 0, 0, 0.38);
                background-color: $color-line;
            }

            &--invalid-selected {
                background-color: rgba($color-primary, 0.6);
            }
        }
    }
}
