.results-panel {
    overflow-x: hidden;
    overflow-y: hidden;

    width: $panel-width;
    height: 100%;
    margin-right: 1rem;
    padding: 1rem 0 1rem 0;

    @include transition2(width 0.5s ease, height 0.4s ease);

    @include md {
        width: $md-results-panel-width;
        padding: 0;
    }

    &__header-container {
        @include md {
            display: flex;
            justify-content: space-between;
        }
    }

    &__header {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;

        margin: 0 1rem 1rem 1rem;

        &--download {
            justify-content: center;
        }
    }

    &__button {
        width: 100%;
        .mdc-button__label {
            display: flex !important;
            gap: 0.5rem;
            align-items: center !important;
            letter-spacing: 0.004rem;
        }
    }

    &__toggle {
        margin-left: 1.5rem;
    }

    &--closed {
        width: $collapsed-panel-width;
        height: $collapsed-panel-height;

        @include transition2(width 0.5s ease, height 0.4s ease);

        @include md {
            width: $md-results-panel-width;
            height: $md-collapsed-panel-height;

            @include transition(height 0.4s ease);
        }
    }
}

.viewport {
    width: $panel-width;
    // set viewport height to display cards
    height: calc(100vh - 10rem - 122px);

    @include md {
        width: $md-results-panel-width;
        height: calc(100vh - 15rem - 122px);
    }
}
