.results-card {
  padding: 1rem 0.5rem 1rem 2rem;
  width: 100%;
  border-bottom: 1px solid $color-line;
  &:hover {
    cursor: pointer;
    background-color: rgb(var(--c477-color--hover));
  }
  &--select {
    background-color: rgb(var(--c477-color--selected));
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mdc-label,
    .card-title {
      font-weight: 500;
      font-size: 1rem;
    }
    .card-title {
      margin: 0 1rem 0 0;
      line-height: var(--arc-line-height-dense);
    }

    button {
      font-weight: 400;
      color: $color-text-light !important;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      min-width: 7.5rem;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    &--select {
      margin-left: 2.75rem;
    }
  }

  &__address {
    max-width: 70%;
    margin-top: 0;
    line-height: var(--arc-line-height-dense);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-left: 1px solid $color-line;

    .mat-mdc-icon-button {
      width: 2rem !important;
      height: 2rem !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__labels {
    display: flex;
    gap: 1rem;
  }
}

.results-card-expansion {
  box-shadow: unset !important;

  &__fullwidth {
    width: 100%;
  }

  .mat-expansion-panel-header {
    padding: 0;
    align-items: flex-start;
    font-weight: 400;
    .results-card {
      padding-left: 0;
    }

    .mat-expansion-indicator {
      margin: 1rem !important;
    }
  }
  .mat-expansion-panel-body {
    padding: 0 0 0 2.5rem;
    .results-card {
      border-bottom: none;
      padding-left: 1rem;
    }
  }
}
