.results-button {
  &__container {
    margin: 0 var(--arc-spacing-normal) 0 var(--arc-spacing-normal);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__number {
    font-size: var(--arc-font-size-large);
    font-weight: 600;
    margin: 0 0 0 0.5rem;
  }

  .mat-icon {
    transform: rotate(90deg);
  }

  &--open {
    .mat-icon {
      transform: rotate(-90deg);
    }
  }
}
