.results-button {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 var(--arc-spacing-normal) 0 var(--arc-spacing-normal);
    }

    &__number {
        margin: 0 0 0 0.5rem;
        font-size: var(--arc-font-size-large);
        font-weight: 600;
    }

    .mat-icon {
        transform: rotate(90deg);
    }

    &--open {
        .mat-icon {
            transform: rotate(-90deg);
        }
    }
}
