<h1 mat-dialog-title class="title">
    <span>Download IRIS user guide</span>
</h1>
<div mat-dialog-content>
    <p>
        The user guide contains informations on the different features and functionality of the IRIS tool, as well as a troubleshooting guide. The
        troubleshooting guide is there to help with any issues you might encounter when using the tool.
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button (click)="downloadUserGuide()" cdkFocusInitial>Download user guide</button>
</div>

<!-- SPDX-License-Identifier: Apache-2.0
© Crown Copyright 2025. This work has been developed by the National Digital Twin Programme
and is legally attributed to the Department for Business and Trade (UK) as the governing entity. -->
