<cdk-accordion>
    <c477-wind-driven-rain-section-item
        [data]="buildingWeatherData?.buildingWindDrivenRainDataModel"
        [warn]="warnForWindDrivenRain"
    ></c477-wind-driven-rain-section-item>
    <c477-icing-days-section-item [data]="buildingWeatherData?.buildingIcingDaysDataModel" [warn]="warnForIcingDays"></c477-icing-days-section-item>
    <c477-hot-summer-days-section-item
        [data]="buildingWeatherData?.buildingHotSummerDaysDataModel"
        [warn]="warnForHotSummerDays"
    ></c477-hot-summer-days-section-item>
    <c477-hours-of-sunlight-section-item></c477-hours-of-sunlight-section-item>
    <c477-guidance-section-item></c477-guidance-section-item>
</cdk-accordion>
<!-- SPDX-License-Identifier: Apache-2.0
© Crown Copyright 2025. This work has been developed by the National Digital Twin Programme
and is legally attributed to the Department for Business and Trade (UK) as the governing entity. -->
