<h2 mat-dialog-title class="title">
    <ph-icon-warning /> You are removing a flag for:
    {{ data.FullAddress }}
</h2>

<div mat-dialog-content>
    <span>Provide a reason for removing of this flag</span>

    <mat-form-field>
        <mat-label>Select Reason</mat-label>
        <mat-select [formControl]="reason">
            @for (reason of reasons | keyvalue; track $index) {
                <mat-option [value]="reason.value">
                    {{ reason.value }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button [mat-dialog-close]="reason.value" [disabled]="reason.invalid" cdkFocusInitial>Remove flag</button>
</div>

<!-- SPDX-License-Identifier: Apache-2.0
© Crown Copyright 2025. This work has been developed by the National Digital Twin Programme
and is legally attributed to the Department for Business and Trade (UK) as the governing entity. -->