:host {
    display: block;
    padding: 20px;
}

h1[mat-dialog-title] {
    display: flex;
    align-items: center;
    color: rgb(var(--arc-red-080));
}

h1[mat-dialog-title] ph-icon-warning {
    margin-right: var(--arc-spacing-x-small);
}

div[mat-dialog-content] {
    display: grid;
    gap: var(--arc-spacing-medium);
}
