@if (buildingDetails()) {
  <div class="panel details-panel">
    <div class="details-panel__header">
      <h1>Property 2</h1>
      <button mat-icon-button (click)="closePanel.emit()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="details-panel__overview">
      <p class="address">{{ buildingDetails()?.line_of_address_literal }}</p>
      <div class="labels">
        <c477-label [epcRating]="buildingDetails()?.epc"></c477-label>
        <c477-label>Apartment</c477-label>
      </div>
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Overview">
        <div class="details-panel__tab details-panel__tab--overview">
          <div class="about">
            <h2>About</h2>
            <p><span class="field">Number of flats:</span> <span></span></p>
            <p><span class="field">Built form:</span><span></span></p>
            <p>
              <span class="field">Inspection date:</span>
              <span>{{
                buildingDetails()?.inspection_date_literal | date
              }}</span>
            </p>
          </div>
          <div class="specification">
            <h2>Specifcation</h2>
            <p>
              <span class="field">Floor construction:</span>
              <span></span>
            </p>
            <p>
              <span class="field">Floor insulation:</span>
              <span></span>
            </p>
            <p>
              <span class="field">Roof construction:</span>
              <span></span>
            </p>
            <p>
              <span class="field">Roof insulation location:</span>
              <span></span>
            </p>
            <p>
              <span class="field">Roof insulation thickness:</span>
              <span></span>
            </p>
            <p>
              <span class="field">Wall construction:</span> Sandstone or
              Limestone
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Flag">*Flag information*</mat-tab>
    </mat-tab-group>
    <div class="details-panel__buttons">
      <button mat-flat-button [color]="'primary'">
        <img src="assets/icons/FlagPennant_white.svg" alt="" />Add a flag
      </button>
      <button mat-flat-button [color]="'primary'">
        <img src="assets/icons/FileArrowDown_white.svg" alt="" />Download
      </button>
    </div>
  </div>
}
