@if (buildingDetails()) {
  <div class="panel details-panel">
    <div class="details-panel__header">
      <h1>
        {{ getAddressSegment(0) }}
        {{ getAddressSegment(1) }}
      </h1>
      <button mat-icon-button (click)="closePanel.emit()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="details-panel__overview">
      <p class="address">{{ buildingDetails()?.FullAddress }}</p>
      @if (buildingDetails()?.EPC) {
        <div class="labels">
          <c477-label
            [epcRating]="buildingDetails()?.EPC"
            [sapPoints]="buildingDetails()?.SAPPoints"></c477-label>
          <c477-label>{{ buildingDetails()?.PropertyType }}</c477-label>
        </div>
      } @else {
        <div class="labels">
          <c477-label [epcRating]="'none'"></c477-label>
        </div>
      }
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Overview" aria-label="Property overview">
        <div class="details-panel__tab details-panel__tab--overview">
          <div class="about">
            <h2>About</h2>
            <p>
              <span class="field">Built form:</span>
              @if (buildingDetails()?.BuildForm) {
                <span>{{ buildForm[buildingDetails()!.BuildForm!] }}</span>
              } @else {
                <span>No data</span>
              }
            </p>
            <p>
              <span class="field">Inspection date:</span>
              @if (buildingDetails()?.InspectionDate) {
                <span>{{ buildingDetails()?.InspectionDate | date }}</span>
              } @else {
                <span>No data</span>
              }
            </p>

            <p>
              <span class="field">UPRN:</span>
              <span>{{ buildingDetails()?.UPRN }}</span>
            </p>
          </div>
          <div class="specification">
            <h2>Specification</h2>
            <p>
              <span class="field">Floor construction:</span>
              @if (
                buildingParts()?.Floor?.PartType &&
                floor[buildingParts()!.Floor!.PartType]
              ) {
                <span>{{ floor[buildingParts()!.Floor!.PartType] }}</span>
              } @else {
                <span>No data</span>
              }
            </p>
            <p>
              <span class="field">Floor insulation:</span>
              @if (
                buildingParts()?.Floor?.PartInsulationType &&
                floorInsulation[buildingParts()!.Floor!.PartInsulationType]
              ) {
                <span>{{
                  floorInsulation[buildingParts()!.Floor!.PartInsulationType]
                }}</span>
              } @else {
                <span>No data</span>
              }
            </p>
            <p>
              <span class="field">Roof construction:</span>
              @if (
                buildingParts()?.Roof?.PartType &&
                roof[buildingParts()!.Roof!.PartType]
              ) {
                <span>{{ roof[buildingParts()!.Roof!.PartType] }}</span>
              } @else {
                <span>No data</span>
              }
            </p>
            <p>
              <span class="field">Roof insulation location:</span>
              @if (
                buildingParts()?.Roof?.PartInsulationType &&
                roofInsulation[buildingParts()!.Roof!.PartInsulationType]
              ) {
                <span>{{
                  roofInsulation[buildingParts()!.Roof!.PartInsulationType]
                }}</span>
              } @else {
                <span>No data</span>
              }
            </p>
            <p>
              <span class="field">Roof insulation thickness:</span>
              @if (
                buildingParts()?.Roof?.InsulationThickness &&
                buildingParts()!.Roof!.InsulationThickness !== ''
              ) {
                <span>{{ buildingParts()!.Roof!.InsulationThickness }}mm</span>
              } @else if (
                buildingParts()?.Roof?.InsulationThicknessLowerBound &&
                buildingParts()!.Roof!.InsulationThicknessLowerBound !== ''
              ) {
                <span
                  >{{
                    buildingParts()!.Roof!.InsulationThicknessLowerBound
                  }}+mm</span
                >
              } @else {
                <span>No data</span>
              }
            </p>
            <p>
              <span class="field">Wall construction:</span>
              @if (
                buildingParts()?.Wall?.PartType &&
                wall[buildingParts()!.Wall!.PartType]
              ) {
                <span>{{ wall[buildingParts()!.Wall!.PartType] }}</span>
              } @else {
                <span>No data</span>
              }
            </p>
            <p>
              <span class="field">Window glazing:</span>
              @if (
                buildingParts()?.Window?.PartType &&
                windowGlazing[buildingParts()!.Window!.PartType]
              ) {
                <span>{{
                  windowGlazing[buildingParts()!.Window!.PartType]
                }}</span>
              } @else {
                <span>No data</span>
              }
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab
        label="Flag"
        [disabled]="buildingDetails()?.Flagged === undefined"
        [aria-label]="
          buildingDetails()?.Flagged === undefined
            ? 'No flag information'
            : 'Flag information'
        "></mat-tab>
    </mat-tab-group>
    <div class="details-panel__buttons">
      @if (buildingDetails()?.Flagged === undefined) {
        <button
          mat-flat-button
          color="primary"
          aria-label="Flag property"
          (click)="flag.emit([buildingDetails()!])">
          <img alt="" src="assets/icons/FlagPennant_white.svg" />Add a flag
        </button>
      } @else {
        <button
          mat-flat-button
          color="warn"
          aria-label="Add flag to property"
          (click)="removeFlag.emit(buildingDetails()!)">
          <img alt="" src="assets/icons/TrashFlag_white.svg" />Remove flag
        </button>
      }
      <button
        mat-flat-button
        [color]="'primary'"
        (click)="openDownloadWarning()">
        <img src="assets/icons/FileArrowDown_white.svg" alt="" />Download
      </button>
    </div>
  </div>
}
