<arc-container #container fullscreen="true">
  <arc-navbar
    slot="nav"
    tabs="0"
    (arc-show-accessibility)="handleShowAccessibility($event)">
    <span slot="name">{{ title }}</span>
  </arc-navbar>

  <arc-accessibility #accessibility slot="accessibility">
    <div slot="options" class="accessibility__options">
      <div class="accessibility__label">
        <span>Color Blind Mode</span>
        <arc-icon name="accessibility"></arc-icon>
      </div>
      <arc-switch
        #colorBlindSwitch
        (arc-change)="handleColorBlindSwitchChange($event)">
        Enable
      </arc-switch>
    </div>
  </arc-accessibility>

  <div class="content">
    <c477-results-panel></c477-results-panel>

    <c477-details-panel (closePanel)="closeDetails()"></c477-details-panel>

    <div class="content__map-container">
      <c477-map
        [mapConfig]="mapConfig"
        (setRouteParams)="setRouteParams($event)"
        (deleteSpatialFilter)="deleteSpatialFilter()"
        (resetMapView)="resetMapView()"
        (zoomIn)="zoomIn()"
        (zoomOut)="zoomOut()"
        (setSearchArea)="setSearchArea($event)"
        (setSelectedBuildingTOID)="setSelectedBuildingTOID($event)"></c477-map>
    </div>
  </div>

  <arc-bottombar slot="bottom">
    <arc-icon-button
      name="accessibility"
      label="Accessibility"
      (click)="handleShowAccessibility($event)">
      Accessibility
    </arc-icon-button>
  </arc-bottombar>
</arc-container>
