@use '@angular/material' as mat;

arc-accessibility {
    z-index: 1002;

    div.accessibility__options {
        display: flex;
        flex-direction: column;
        gap: var(--arc-spacing-small);

        div.accessibility__label {
            display: flex;
            gap: var(--arc-spacing-small);
            align-items: center;
        }
    }
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .map-container {
        width: 100%;
        height: 100%;
        /** force mapbox logo to display */
        .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
            display: block !important;
        }
    }
}

.navbar {
    @include mat.toolbar-overrides((
        container-background-color: #002244,
        standard-height: 40px,
        container-text-color: #f0f2f2,
    ));

    display: flex;
    flex-direction: row;
    padding: 10px;

    .left-side {
        width: 50%;
        height: inherit;
        display: flex;
        justify-content: start;
        align-items: center;

        img {
            object-fit: cover;
            height: 50%;
        }

        .divider {
            padding-left: 10px;
            padding-right: 10px;
        }

        span {
            font-size: 1.5em;
            font-weight: 500;
        }

        .headline {
            letter-spacing: 2.5px;
        }
    }

    .right-side {
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;

        button {
            padding-left: 10px;
        }
    }

    .help-icon {
        color: #ffcf06;
        font-size: 18px;
    }

    .accessibility-icon {
        color: #f0f2f2;
        font-size: 15px;
        border-radius: 20px;
    }
}
