@let enabledOptions = validOptions();
@let selected = selectedValues();

<mat-button-toggle-group [attr.aria-label]="title()" [name]="title()" [multiple]="true" (change)="filterChange($event)">
    @for (option of options(); track option) {
        @let invalid = enabledOptions && !enabledOptions.includes(option);

        <mat-button-toggle [ngClass]="{ invalid: invalid }" [value]="option" [checked]="selected.includes(option)">
            {{ option | pascalCaseSpace }}
        </mat-button-toggle>
    }
</mat-button-toggle-group>
