<div class="multi-select-filter">
  <h3>{{ title }}</h3>
  <mat-button-toggle-group
    class="filter-buttons"
    name="title"
    [attr.aria-label]="title"
    (change)="filterChange($event)"
    multiple>
    @for (option of optionKeys; track option) {
      <mat-button-toggle
        [ngClass]="{
          'filter-button--invalid':
            validOptions && !validOptions.includes(option)
        }"
        [value]="option"
        [checked]="selectedValues?.includes(option)"
        >{{ options[option] }}</mat-button-toggle
      >
    }
  </mat-button-toggle-group>
</div>
