.mat-button-toggle-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    border: none;
    border-radius: 0;

    .mat-button-toggle {
        border: 1px solid var(--mat-sys-surface-container-highest);
        border-radius: var(--border-radius);
    }
}
