:host {
    position: absolute;
    right: 1rem;
    bottom: calc(2rem + 3rem);

    overflow: hidden;

    width: 16rem;
    height: 9rem;
    border: 5px solid var(--mat-sys-surface-container-lowest);

    .minimap {
        width: 100%;
        height: 100%;

        ::ng-deep {
            .mapboxgl-ctrl-bottom-left {
                display: none;
            }
        }
    }
}
