@use '@angular/material' as mat;
@use '../app_theme-colors.scss' as ndtp-theme;
@use '@national-digital-twin/ndtp-styling-assets/dist/scss/main.scss' as ndtp;

:root {
    // EPC Colors

    --color-epc-a: #3d4e3b;
    --color-epc-b: #4ba046;
    --color-epc-c: #a3eb9f;
    --color-epc-d: #ffd10a;
    --color-epc-e: #ffcc99;
    --color-epc-f: #e66e23;
    --color-epc-g: #b60007;
    --color-epc-none: #bebebe;
    --color-epc-avg: #000000;

    // Core overrides

    --border-radius: 4px;
}

html {
    color-scheme: light;

    @include mat.theme(
        (
            color: (
                primary: ndtp-theme.$primary-palette,
                tertiary: ndtp-theme.$tertiary-palette,
                theme-type: light,
            ),
            typography: ndtp.$primary-font,
            density: 0,
        )
    );

    @include mat.button-overrides(
        (
            text-container-shape: var(--border-radius),
            filled-container-shape: var(--border-radius),
            outlined-container-shape: var(--border-radius),
        )
    );

    @include mat.form-field-overrides(
        (
            filled-container-color: var(--mat-sys-surface-container-lowest),
            filled-active-indicator-height: 0,
            filled-focus-active-indicator-height: 0,
        )
    );
}

body {
    line-height: 1.4rem;

    @include mat.form-field-overrides(
        (
            filled-container-color: var(--mat-sys-surface-container-lowest),
        )
    );

    &[theme='dark'] {
        color-scheme: dark;

        @include mat.theme(
            (
                color: (
                    primary: ndtp-theme.$primary-palette,
                    tertiary: ndtp-theme.$tertiary-palette,
                    theme-type: dark,
                ),
                typography: Roboto,
                density: 0,
            )
        );
    }
}

h1 {
    margin: 0;
    font-family: var(--mat-sys-headline-small-font);
    font-size: var(--mat-sys-headline-small-size);
    font-weight: var(--mat-sys-headline-small-weight);
}

h2 {
    margin: 0;
    font-family: var(--mat-sys-title-large-font);
    font-size: var(--mat-sys-title-large-size);
    font-weight: var(--mat-sys-title-large-weight);
}

h3 {
    margin: 0;
    font-family: var(--mat-sys-title-medium-font);
    font-size: var(--mat-sys-title-medium-size);
    font-weight: var(--mat-sys-title-medium-weight);
}

h4 {
    margin: 0;
    font-family: var(--mat-sys-title-small-font);
    font-size: var(--mat-sys-title-small-size);
    font-weight: var(--mat-sys-title-small-weight);
}

div,
p {
    font-family: var(--mat-sys-body-medium-font);
    font-size: var(--mat-sys-body-medium-size);
    font-weight: var(--mat-sys-body-medium-weight);
}

.mdc-button {
    &__label {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
}

.information .mat-mdc-dialog-container {
    @include mat.dialog-overrides(
        (
            container-shape: 1px,
            actions-padding: 0 6.875rem 4.875rem,
            with-actions-content-padding: 3.125rem 6.875rem,
            headline-padding: 4.875rem 0 3.125rem 6.875rem,
            container-max-width: 37.5rem,
            actions-alignment: start,
            supporting-text-size: 16px,
        )
    );
}
