<c477-more-info-section-item header="Wind-driven rain - <em>4&deg;Cwarming</em>" subtitle="Within an area of high wind-driven rain">
    <div class="container">
        <p>Wind-driven rain 4&deg;C data</p>
    </div>
</c477-more-info-section-item>
<c477-more-info-section-item header="Wind-driven rain - <em>2&deg;C warming</em>" subtitle="Within an area of high wind-driven rain">
    <div class="container">
        <p>Wind-driven rain 2&deg;C data</p>
    </div>
</c477-more-info-section-item>
<!-- SPDX-License-Identifier: Apache-2.0
© Crown Copyright 2025. This work has been developed by the National Digital Twin Programme
and is legally attributed to the Department for Business and Trade (UK) as the governing entity. -->
