@use '@angular/material' as mat;

:host {
    position: absolute;
    z-index: 1000;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--mat-sys-surface-container-low);
}

.loading {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 90%;
    max-width: 820px;

    text-align: center;

    h1 {
        font-size: 6rem;
        font-weight: 800;
        line-height: 1;
        color: #002244;
        letter-spacing: 1rem;
    }

    &__bar {
        @include mat.progress-bar-overrides(
            (
                active-indicator-color: #002244,
            )
        );
    }

    .message {
        font-size: 1rem;
        color: #002244;
    }
}
