<c477-more-info-section-item header="Hours of sunlight" subtitle="Within an area of low sunlight hours">
    @if (data) {
        <div class="container data-table">
            <dl>
                <dt>Average annual hours of sunlight</dt>
                <dd>Average daily hours of sunlight</dd>
                <dt>{{ data.sunlightHours.toFixed(2) }}</dt>
                <dd>{{ data.dailySunlightHours.toFixed(2) }}</dd>
            </dl>
        </div>
    }
</c477-more-info-section-item>
<!-- SPDX-License-Identifier: Apache-2.0
© Crown Copyright 2025. This work has been developed by the National Digital Twin Programme
and is legally attributed to the Department for Business and Trade (UK) as the governing entity. -->
