$color-button-background: #fafafa;
$color-text-light: #00000099;
$color-panel-background: #ffffff;
$color-light-text: #ffffff;
$color-epc-b: #2c9f29;
$color-type: #51406c;
$color-line: rgba(0, 0, 0, 0.12);
