:host {
    position: absolute;
    z-index: 100;
    top: calc(2rem + 57px);
    bottom: 1rem;
    left: 1rem;

    overflow-x: hidden;
    overflow-y: auto;
    display: block;

    width: 20rem;

    background-color: var(--mat-sys-surface);
    box-shadow: var(--mat-sys-level2);

    &.expand {
        width: 26rem;
    }
}
