.panel-container {
  position: absolute;
  z-index: $panel-z-index;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  height: calc(100vh - 10rem);

  .panel {
    background-color: rgb(var(--arc-container-color));
    box-shadow: $box-shadow;
  }
}
