.panel-container {
    position: absolute;
    z-index: $panel-z-index;
    top: 9rem;
    left: 1rem;

    display: flex;

    height: calc(100vh - 10rem);

    @include md {
        top: 14.25rem;
        left: var(--arc-spacing-small);
        height: calc(100vh - 15rem);
    }

    @include xs {
        height: calc(100vh - 19.25rem);
    }

    &--collapsed {
        height: $collapsed-panel-height;

        @include md {
            height: $md-collapsed-panel-height;
        }

        @include xs {
            height: $md-collapsed-panel-height;
        }
    }

    .panel {
        border-radius: 4px;
        background-color: rgb(var(--arc-container-color));
        box-shadow: $box-shadow;
    }
}
