<!-- <div *ngIf="epcRating; else BuildingType" class="label label__epc label__epc--{{ epcRating }}" [ngClass]="{ 'label__epc--expired': expired }">
    <div></div>
    @if (epcRating !== 'none' && epcRating !== 'avg') {
        <div class="label__text">
            <span class="label__text-epc">
                <span class="label__expired-text" *ngIf="expired">
                    <img src="assets/icons/Warning.svg" alt="" />
                    &nbsp; Expired&nbsp;
                </span>
                EPC: {{ epcRating }}</span
            >
            @if (sapPoints) {
                <span> {{ sapPoints }}</span>
            }
        </div>
    } @else if (epcRating === 'none') {
        <div class="label__text">No EPC</div>
    } @else if (epcRating === 'avg') {
        <div class="label__text">Averaged EPC</div>
    }
</div>
<ng-template #BuildingType>
    <div class="label label__type">
        <ng-content></ng-content>
    </div>
</ng-template> -->

@if (epcRating) {
    <div class="label" ngClass="epc-rating-{{ epcRating.toLowerCase() }}">
        @switch (epcRating) {
            @case ('none') {
                <div>No EPC</div>
            }
            @case ('avg') {
                <div>Averaged EPC</div>
            }
            @default {
                @if (expired) {
                    <div class="expired">
                        <img src="assets/icons/Warning.svg" alt="" />
                        <span>Expired EPC: {{ epcRating }}</span>
                    </div>
                } @else {
                    <span>EPC: {{ epcRating }}</span>
                }
                @if (sapPoints) {
                    <span>{{ sapPoints }}</span>
                }
            }
        }
    </div>
} @else {
    <ng-content></ng-content>
}
