<div *ngIf="theme$ | async as theme" class="map-controls-container">
    <div class="map-controls">
        <button mat-icon-button class="map-button" (click)="resetMapView.emit()" matTooltipPosition="before" matTooltip="Reset view">
            <img [src]="theme === 'light' ? 'assets/icons/House.svg' : 'assets/icons/House_white.svg'" alt="reset map view" />
        </button>
    </div>
    <div class="map-controls">
        <button mat-icon-button class="map-button" (click)="resetNorth.emit()" matTooltipPosition="before" matTooltip="Reset to north">
            <img
                [src]="theme === 'light' ? 'assets/icons/Compass.svg' : 'assets/icons/Compass_white.svg'"
                [style]="'transform: rotate(' + bearing + 'deg)'"
                alt="reset to north"
            />
        </button>
        <button
            mat-icon-button
            class="map-button"
            (click)="changeDimensions()"
            matTooltipPosition="before"
            [matTooltip]="twoDimensions ? 'Tilt the view to 3D' : 'Tilt the view to 2D'"
        >
            @if (!twoDimensions) {
                2D
            } @else {
                3D
            }
        </button>
    </div>
    <div class="map-controls">
        <button class="map-button" mat-icon-button (click)="zoomIn.emit()" matTooltipPosition="before" matTooltip="Zoom in">
            <img [src]="theme === 'light' ? 'assets/icons/Plus.svg' : 'assets/icons/Plus_white.svg'" alt="zoom in" />
        </button>
        <button class="map-button" mat-icon-button (click)="zoomOut.emit()" matTooltipPosition="before" matTooltip="Zoom out">
            <img [src]="theme === 'light' ? 'assets/icons/Minus.svg' : 'assets/icons/Minus_white.svg'" alt="zoom out" />
        </button>
    </div>
    <div class="map-controls">
        <button
            mat-icon-button
            class="map-button"
            [ngClass]="{
                'map-button--active': theme === 'light' && this.drawActive,
                'map-button--active_dark': theme === 'dark' && this.drawActive,
            }"
            (click)="setDrawMode('polygon')"
            matTooltipPosition="before"
            matTooltip="Draw filter area"
        >
            <img
                *ngIf="theme === 'light'"
                [src]="!this.drawActive ? 'assets/icons/SpatialSearch.svg' : 'assets/icons/SpatialSearch_white.svg'"
                alt="draw polygon"
            />
            <img *ngIf="theme === 'dark'" [src]="'assets/icons/SpatialSearch_white.svg'" alt="draw polygon" />
        </button>
        @if (spatialFilterEnabled && mapInstance.getZoom() < 15) {
            <button mat-icon-button class="map-button" (click)="downloadAddresses.emit()" matTooltipPosition="before" matTooltip="Download addresses">
                <img [src]="theme === 'light' ? 'assets/icons/Download.svg' : 'assets/icons/Download_white.svg'" alt="download addresses" />
            </button>
        }
        <button
            [disabled]="!spatialFilterEnabled"
            [ngClass]="{
                'map-button--inactive': theme === 'light' && !spatialFilterEnabled,
                'map-button--inactive_dark': theme === 'dark' && !spatialFilterEnabled,
            }"
            mat-icon-button
            class="map-button"
            (click)="setDrawMode('delete')"
            matTooltipPosition="before"
            matTooltip="Delete filter area"
        >
            <img [src]="theme === 'light' ? 'assets/icons/Trash.svg' : 'assets/icons/Trash_white.svg'" alt="delete polygon" />
        </button>
    </div>
    <div class="map-controls">
        <button mat-icon-button class="map-button" (click)="showLegend = !showLegend" matTooltipPosition="before" matTooltip="Legend">
            <img [src]="theme === 'light' ? 'assets/icons/MapControls.svg' : 'assets/icons/MapControls_white.svg'" alt="open legend" />
        </button>
    </div>
    <div class="map-controls map-controls--bottom">
        <button mat-icon-button class="map-button" (click)="toggleMinimap.emit()" matTooltipPosition="before" matTooltip="Minimap">
            <img [src]="theme === 'light' ? 'assets/icons/MapTrifold.svg' : 'assets/icons/MapTrifold_white.svg'" alt="open minimap" />
        </button>
    </div>
</div>
@if (showLegend) {
    <c477-legend></c477-legend>
}
<div id="map"></div>
