<div class="main-filters">
  <form [formGroup]="addressForm">
    <mat-form-field class="search">
      <mat-label>Search by address, postcode</mat-label>
      <input
        matInput
        type="text"
        aria-label="Search by address"
        formControlName="address" />
      <button
        matSuffix
        mat-icon-button
        aria-label="Search"
        (click)="zoomToAddress()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <mat-form-field class="epc-filter">
    <mat-label>EPC Rating</mat-label>
    <mat-select
      multiple
      [value]="filterProps?.EPC"
      (selectionChange)="ratingChange($event)">
      @for (rating of getKeys(epcRatings); track rating) {
        <mat-option [value]="rating"
          ><c477-label [epcRating]="epcRatings[rating]"
        /></mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="building-type-filter">
    <mat-label>Building Type</mat-label>
    <mat-select
      multiple
      [value]="filterProps?.PropertyType"
      (selectionChange)="propertyTypeChange($event)">
      @for (type of getKeys(propertyTypes); track type) {
        <mat-option [value]="type">{{ propertyTypes[type] }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button
    class="filters-button"
    mat-flat-button
    (click)="openAdvancedFilters()">
    Advanced Filters <mat-icon iconPositionEnd>add</mat-icon>
  </button>
</div>
