<div class="main-filters">
  <mat-form-field class="search">
    <mat-label>Search by address, postcode</mat-label>
    <input matInput type="text" aria-label="Search by address, postcode" />
    <button matSuffix mat-icon-button aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="epc-filter">
    <mat-label>EPC Rating</mat-label>
    <mat-select multiple>
      @for (rating of getKeys(epcRatings); track rating) {
        <mat-option [value]="rating"
          ><c477-label [epcRating]="epcRatings[rating]"
        /></mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="building-type-filter">
    <mat-label>Building Type</mat-label>
    <mat-select multiple>
      @for (type of getKeys(buildingTypes); track type) {
        <mat-option [value]="type">{{ buildingTypes[type] }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button
    class="filters-button"
    mat-flat-button
    (click)="openAdvancedFilters()">
    Advanced Filters <mat-icon iconPositionEnd>add</mat-icon>
  </button>
</div>
